

  .formActions {
    display: flex;
  }

  .statusWrapper {
    display: flex;
  }
  
  i {
    margin-left: 10px;
  }

  .btnMainMargin {
    margin-right: 10px;
  }

  .formError {
    color: #d9534f;
    min-height: 20px;
  }

  .beerCounterBtns {
    width: 40px;
  }

  .beerCounterResetBtn {
    width: 60px;
  }